*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.Administrator
*.uvopt
*.uvoptx
*.uvprojx
/mainboard/FWLIB
/mainboard/OBJ
/mainboard/SYSTEM
/mainboard/UCOSII
/mainboard/USER/JLinkSettings.ini
/mainboard/USER/DebugConfig
/mainboard/USER/stm32f4xx.h
/mainboard/USER/stm32f4xx_conf.h
/mainboard/USER/stm32f4xx_it.h
/mainboard/USER/stm32f4xx_it.c
/mainboard/USER/system_stm32f4xx.h
/mainboard/USER/system_stm32f4xx.c
/mainboard/keilkilll.bat